td {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-top-color: var(--bs-gray-400);
    border-bottom-color: var(--bs-gray-400);
    padding: 24px 0 !important;
    text-align: center;
    font-weight: 500;
}

.picture {
    width: 190px;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.picture a {
    display: block;
    width: 110px;
    height: 110px;
    padding: 10px;
    border: 1px solid var(--bs-gray-400);
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    width: 280px;
    text-align: left;
    font-size: 18px;
}

.title a {
    text-decoration: none;
    color: currentColor;
}

.title a:hover {
    color: var(--c-color1);
}

.count {
    width: 210px;
    padding: 0 40px !important;
}

.count div {
    padding: 6px 12px;
    border: 1px solid var(--bs-gray-400);
    border-radius: 24px;
}

.count div span {
    vertical-align: middle;
    padding: 0 6px;
    font-weight: 400;
}

.count div span:first-of-type,
.count div span:last-of-type {
    font-size: 34px;
    color: var(--bs-gray-500);
    font-weight: 200;
    line-height: 1;
    cursor: pointer;
}

.price,
.total {
    width: 240px;
}

.del {
    width: 90px;
}

.del div {
    width: 30px;
    margin: auto;
    transform: rotateZ(45deg);
    font-size: 40px;
    color: var(--bs-gray-500);
    font-weight: 200;
    line-height: 1;
    cursor: pointer;
}

.total {
    background-color: var(--c-color3);
    padding: 40px;
    font-weight: 500;
}


