.item {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.itemTitle {
    font-size: 14px;
    color: var(--bs-gray-500);
    margin-top: 5px;
    margin-left: 10px;
}

.item:hover .itemTitle,
:global(.show).item .itemTitle {
    color: var(--c-color1);
}

.item:global(.active) .itemTitle {
    color: var(--c-color2);
}

:global(.show).item .itemTitle {
    color: var(--c-color1);
}

:global(.show).item::after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    left: 2px;
    right: 2px;
    width: calc(100% - 4px);
    background-color: var(--c-color1);
}

.subcategory.active,
.subcategory:active {
    background-color: var(--c-color1);
}

.item :global(.nav-link) {
    display: flex;
}

.item :global(.dropdown-menu) {
    padding: 0;
}

.item :global(.dropdown-toggle:after) {
    display: none;
}

:global(.show).item svg path,
.item:hover svg path {
    fill: var(--c-color1);
}

.item:global(.active) svg path {
    fill: var(--c-color2);
}

@media (min-width: 992px) {
    .itemTitle {
        margin-left: 0;
    }

    .item :global(.nav-link) {
        display: block;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
