.item {
    /*background-color: transparent !important;*/
    display: flex;
    align-items: flex-end;
    position: relative;
}

.itemTitle {
    font-size: 14px;
    color: var(--bs-gray-500);
    margin-top: 5px;
}

.item:hover .itemTitle {
    color: var(--c-color1);
}

:global(.show).item .itemTitle {
    color: var(--c-color1);
}

:global(.show).item::after  {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--c-color1);
}

.subcategory.active,
.subcategory:active {
     background-color: var(--c-color1);
 }

.item :global(.dropdown-toggle) {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.item :global(.dropdown-menu) {
    padding: 0;
}

.item :global(.dropdown-toggle:after) {
    display: none;
}

:global(.show).item svg path {
    fill: var(--c-color1);
}

/*svg:hover path {*/
/*    fill: var(--c-color1) !important;*/
/*}*/

.item:hover svg path {
    fill: var(--c-color1);
}
