/*xs: 0;*/
/*sm: 576px;*/
/*md: 768px;*/
/*lg: 992px;*/
/*xl: 1200px;*/
/*xxl: 1400px;*/

/*// Устройства X-Small (портретные телефоны, менее 576 пикселей)*/
/*// Нет медиа-запроса для `xs`, так как это значение по умолчанию в Bootstrap*/

/*// Устройства Small (телефоны с горизонтальной ориентацией, 576 пикселей и выше)*/
/*@media (min-width: 576px) { ... }*/

/*// Устройства Medium (планшеты, 768 пикселей и выше)*/
/*@media (min-width: 768px) { ... }*/

/*// Устройства Large (настольные компьютеры, 992 пикселей и выше)*/
/*@media (min-width: 992px) { ... }*/

/*// Устройства X-Large (большие настольные компьютеры, 1200 пикселей и выше)*/
/*@media (min-width: 1200px) { ... }*/

/*// Устройства XX-Large (большие настольные компьютеры, 1400 пикселей и выше)*/
/*@media (min-width: 1400px) { ... }*/


/*// Устройства X-Small (портретные телефоны, менее 576 пикселей)*/
/*@media (max-width: 575.98px) { ... }*/

/*// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)*/
/*@media (max-width: 767.98px) { ... }*/

/*// Устройства Medium (планшеты, менее 992 пикселей)*/
/*@media (max-width: 991.98px) { ... }*/

/*// Устройства Large (настольные компьютеры, менее 1200 пикселей)*/
/*@media (max-width: 1199.98px) { ... }*/

/*// Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей)*/
/*@media (max-width: 1399.98px) { ... }*/

/*// Устройства XX-Large (большие настольные компьютеры)*/
/*// Нет медиа-запроса, так как контрольная точка xxl не имеет верхней границы ширины*/


:root {
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --c-font-family-second: 'Montserrat', sans-serif;
    --c-color1: #ff7519;
    --c-color2: #eb6003;
    --c-color3: #fbfbfb;
    --c-color4: #f7ca18;
}

body {
    font-size: 14px;
    color: var(--bs-gray-700);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.c-button {
    text-transform: uppercase;
    background-color: var(--c-color1);
    border: none;

    line-height: 2.3;
    font-size: 1.1rem;
    border-bottom: 8px solid var(--c-color2);
}

.c-button:hover,
.c-button:active,
.c-button.active,
.c-button:focus {
    background-color: var(--c-color2);
    border-color: var(--c-color2);
    box-shadow: none;
}

.c-button:disabled {
    background-color: var(--bs-gray-600);
    border-color: var(--bs-gray-700);
}

.c-button2 {
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--c-color1);
    color: var(--c-color1);

    line-height: 2.5;
    font-size: 1.1rem;
}

.c-button2:hover,
.c-button2:active,
.c-button2.active,
.c-button2:focus {
    background-color: var(--c-color1);
    color: white;
    border-color: var(--c-color1);
    box-shadow: none;
}

.c-loader {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

.dropdown-item.active {
    background-color: var(--c-color1) !important;
}

.dropdown-item:active {
    color: inherit !important;
    background-color: var(--bs-gray-200) !important;
}

.page-item .page-link {
    color: var(--bs-gray-600);
}

.page-item.active .page-link {
    background-color: var(--c-color1);
    border-color: var(--c-color1);
}

@media (min-width: 1200px) {
    .container {
        max-width: 1194px;
    }
}
