/*xs: 0;*/
/*sm: 576px;*/
/*md: 768px;*/
/*lg: 992px;*/
/*xl: 1200px;*/
/*xxl: 1400px;*/

:root {
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --c-font-family-second: 'Montserrat', sans-serif;
    --c-color1: #ff7519;
    --c-color2: #eb6003;
}

body {
    font-size: 14px;
    color: var(--bs-gray-700);
}


.c-button,
.c-button:hover,
.c-button:active,
.c-button:focus {
    text-transform: uppercase;
    background-color: var(--c-color1);
    border: none;
}

.c-button:hover,
.c-button:active,
.c-button:focus {
    background-color: var(--c-color2);
}



@media (min-width: 1200px) {
    .container {
        max-width: 1194px;
    }
}
