.section {
    margin: 30px 0;
}

.section :global(.table) {
    vertical-align: middle;
    font-size: 11px;
    margin-bottom: 0;
}

th {
    font-weight: normal;
    padding: 18px 0 !important;
    text-align: center;
}

th:first-of-type {
    text-align: left;
}

td {
    padding: 8px 0 !important;
}

.total {
    padding: 10px;
}

.totalCaption {
    text-transform: uppercase;
    font-size: 17px;
}

.totalPrice {
    color: var(--c-color1);
    font-size: 23px;
}

.buttons {
    text-align: right;
    margin: 30px 0;
    flex-direction: column;
}

.buttons :global(.c-button) {
    text-transform: none;
    padding: 10px 60px;
    margin-bottom: 20px;
}

.buttons :global(.c-button2) {
    text-transform: none;
    padding: 10px 60px;
}

@media (min-width: 768px) {
    .section {
        margin: 50px 0;
    }

    .section :global(.table) {
        font-size: 17px;
    }

    th:first-of-type {
        padding-left: 40px !important;
    }

    td {
        padding: 24px 0 !important;
    }

    .total {
        background-color: var();
        padding: 40px;
    }

    .buttons {
        margin: 60px 0;
        flex-direction: row !important;
    }

    .buttons :global(.c-button) {
        order: 2;
        margin-left: 24px;
        margin-bottom: 0;
    }
}


