.section {
    margin: 60px 0;
}

:global(.form-control):focus,
:global(.form-select):focus {
    box-shadow: none;
}

.buttons {
    text-align: right;
    margin-top: 36px;
}

.buttons :global(.c-button) {
    position: relative;
    text-transform: none;
    margin-left: auto;
    padding: 10px 60px;
}

.buttons :global(.c-loader) {
    left: 20px;
}
