.section {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.title {
    font-weight: 700;
    font-size: 32px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 16px;
}

.subtitle a {
    color: var(--c-color1);
}

.subtitle a:hover {
    color: var(--c-color2);
}

.section form {
    max-width: 470px;
    margin: auto;
    margin-bottom: 30px;
}

.section :global(.form-floating) {
    margin-bottom: 22px;
}

.section :global(.form-control) {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.section :global(.form-control):disabled {
    background-color: #fff;
}

.section :global(label) {
    color: var(--bs-gray-500);
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}

.section :global(.c-button) {
    position: relative;
    min-width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 14px;
}

.section :global(.c-loader) {
    left: 20px;
}

.or {
    text-transform: uppercase;
    margin: 30px 0;
}

.social {
    max-width: 470px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.social a {
    display: block;
    margin: 0 5px;
    height: 30px;
    width: 76px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.1);
    line-height: 30px;
    border-radius: 4px;
    transition: box-shadow .15s;
}

.social a:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.2), 0 4px 20px 0 rgba(0,0,0,.1);
}

.social :global(.social-github) {
    background-color: #57606A;
}

.social :global(.social-yandex) {
    background-color: #FC3F1D;
}

.social :global(.social-vk) {
    background-color: #0077FF;
}

@media (min-width: 576px) {
    .section {
        margin-top: 60px;
    }

    .title {
        font-size: 55px;
    }

    .subtitle {
        margin-bottom: 40px;
    }

    .section form {
        margin-bottom: 50px;
    }

    .section :global(.form-floating) {
        margin-bottom: 26px;
    }

    .section :global(.form-control) {
        height: 80px;
    }

    .section :global(.c-button) {
        margin-top: 34px;
    }
}
