.section {
    width: initial;
    position: relative;
    z-index: 2;
}

.item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7%;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
}

.item:hover {
    z-index: 2;
    color: inherit;
}

.item :global(.figure) {
    margin-bottom: 0;
}

.item :global(.figure) img {
    height: 200px;
    object-fit: contain;
}

.title {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 14px;
    margin-top: 8px;
}

.text {
    font-size: 12px;
}

.item_1 {
    background-color: #dcf1e6;
    flex-flow: row-reverse;
}

.item_2 {
    background-color: #f4f4f4;
    flex-flow: column;
}

.item_3 {
    background-color: #fae0e1;
    flex-flow: row-reverse;
}

.item_4 {
    background-color: #e0ebf6;
    flex-flow: column;
}

.item_5 {
    background-color: #f1e7e0;
}

.item_1 :global(.figure),
.item_3 :global(.figure),
.item_4 :global(.figure) {
    order: 2;
}

.item_2 :global(.figure) {
    align-self: flex-end;
}

.item_5 :global(.figure) {
    order: 2;
}

/*.item_2 :global(.figure) img {*/
/*    width: auto;*/
/*    max-width: 100%;*/
/*    height: 100%;*/
/*}*/

.item_3 :global(.figure) img,
.item_5 :global(.figure) img {
    width: 150px;
}

.item_4 :global(.figure) img {
    width: 270px;
    max-width: 100%;
}

.item_1 .content {
    margin-left: 20px;
}

.item_2 .content {
    align-self: flex-start;
    margin-right: 10px;
}

.item_3 .content {
    margin-left: 10px;
}

.item_4 .content {
    width: 220px;
    text-align: center;
}

.item_5 .content {
    text-align: right;
    margin-right: 10px;
}

.item_1 .subtitle {
    font-weight: 700;
}

.item_2 .title {
    display: none;
}

.item_3 .title,
.item_5 .title {
    font-weight: 700;
}

.item_4 .title {
    font-weight: 700;
}

.item_3 .text,
.item_4 .text,
.item_5 .text {
    display: none;
}

@media (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 450px 300px;
    }

    .item {
        transition: transform .2s;
    }

    .item:hover {
        transform: scale(1.05);
    }

    .item :global(.figure) img {
        height: auto;
    }

    .item_1 {
        grid-column: 1/3;
    }

    .item_2 :global(.figure) {
        height: 60%;
        margin-right: -14%;
    }

    .item_4 :global(.figure) {
        height: 65%;
    }

    .item_1 :global(.figure) img {
        width: 316px;
    }

    .item_2 :global(.figure) img {
        width: auto;
        max-width: 100%;
        height: 100%;
    }

    .item_2 .content {
        width: 220px;
        align-self: flex-start;
        margin-right: 10px;
    }

    .item_1 .title {
        font-size: 27px;
    }

    .item_1 .subtitle {
        font-size: 35px;
    }

    .item_2 .subtitle {
        font-size: 24px;
        font-weight: 500;
    }

    /*.item_3 .title,*/
    /*.item_5 .title {*/
    /*    !*font-size: 20px;*!*/
    /*}*/

    /*.item_3 .subtitle,*/
    /*.item_5 .subtitle {*/
    /*    !*font-size: 20px;*!*/
    /*}*/

    /*.item_4 .title {*/
    /*    font-size: 29px;*/
    /*}*/

    /*.item_4 .subtitle {*/
    /*    font-size: 24px;*/
    /*}*/

    .text {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .item_1 .subtitle {
        font-size: 50px;
    }

    .item_2 .subtitle {
        font-size: 27px;
    }

    .item_3 .title,
    .item_5 .title {
        font-size: 32px;
    }

    .item_3 .subtitle,
    .item_5 .subtitle {
        font-size: 27px;
    }

    .item_4 .title {
        font-size: 29px;
    }

    .item_4 .subtitle {
        font-size: 24px;
    }
}
