.main {
    position: fixed;
    width: 300px;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 6px 0 0 0;
    overflow: hidden;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, .2);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--c-color1);
    color: white;
    cursor: pointer;
}

.header svg {
    width: 20px;
    fill: white;
}

.body {
    border-left: 1px solid var(--bs-gray-400);
}

.messages {
    height: 160px;
    background-color: var(--bs-gray-100);
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-flow: column-reverse;
}

.main :global(.form-control) {
    border: 0;
    border-top: 1px solid var(--bs-gray-400);
    border-radius: 0;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.main :global(.form-control):focus {
    box-shadow: none;
}

