.section {
    margin-top: 60px;
    margin-bottom: 120px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    position: relative;
}

.section a {
    color: var(--c-color1);
}

.section a:hover {
    color: var(--c-color2);
}

.section :global(.c-loader) {
    top: calc(100% + 20px);
}
