.section {
    background-color: var(--bs-gray-100);
    padding-top: 20px;
    padding-bottom: 26px;
    font-size: 12px;
}

.address {
    margin-top: 16px;
    color: var(--bs-gray-500);
    margin-bottom: 4px;
}

.phone {
    text-decoration: none;
    margin: 0 8px;
    color: var(--bs-gray-500);
}

.phone:hover {
    color: var(--bs-gray-600);
}

.email {
    text-decoration: none;
    margin: 0 8px;
    font-weight: 500;
    color: var(--c-color1);
}

.email:hover {
    color: var(--c-color2);
}

@media (min-width: 768px) {
    .section {
        font-size: 14px;
        padding-top: 40px;
        padding-bottom: 46px;
    }
}
