.main {
    font-family: var(--c-font-family-second);
    background-color: var(--c-color1);
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.main:hover {
    color: white;

}

.mainInner {
     position: relative;
     text-align: center;
     min-height: 45px;
 }

.mainInner svg {
    fill: white;
}

.count {
     font-size: 13px;
     font-weight: 700;
     border-radius: 50%;
     position: absolute;
     left: 28px;
     bottom: -6px;
     background-color: white;
     border: 3px solid;
     color: var(--c-color1);
     height: 28px;
     width: 28px;
     line-height: 22px;
     text-align: center;
 }

.title {
     font-size: 12px;
 }
.total {
     font-size: 18px;
     font-weight: 700;
 }
