.section{
    border-bottom: 2px solid var(--bs-gray-200);
}

.brand {
     font-size: 28px;
    color: black;
    text-decoration: none;
 }

.brand:hover {
    color: black;
}

.search:focus {
     box-shadow: none;
 }

.search::placeholder {
     font-size: 12px;
     text-align: right;
 }

.cart {
     width: 190px;
     height: 92px;
 }

@media (min-width: 768px) {
    .search {
        margin: 14px 0;
    }
}
