@import "utils";

.c-main-bar {
    border-bottom: 2px solid $gray-200;

    &__brand {
        font-size: 28px;
    }

    &__search {
        @include media-breakpoint-down(md) {
            margin: 14px 0;
        }
        &:focus {
            border-color: $gray-600;
            box-shadow: none;
        }

        &::placeholder {
            font-size: 12px;
            text-align: right;
        }
    }

    &__basket {
        width: 190px;
        height: 92px;
    }
}
