.main {
    border: 1px solid var(--bs-gray-300);
    margin-bottom: 30px;
}

.main:global(.gridItem) {
    height: calc(100% - 30px);
    background-color: white;
    position: relative;
}

.main:global(.gridItem):hover {
    height: calc(100% + 60px);
    z-index: 1;
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.08);
}

.main :global(.figure) {
    margin-bottom: 0;
    height: 100%;
    padding: 20px;
}

.main :global(.figure) img {
    margin-bottom: 0;
    max-width: 100%;
    width: 160px;
}

.picture {
    height: 100%;
    display: block;
}

.content {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.main:global(.gridItem) .content > div {
    flex-direction: column;
}

.info {
    display: block;
    text-decoration: none;
    color: currentColor;
}

.info:hover {
    color: currentColor;
}

.title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.main:global(.gridItem) .title {
    font-size: 16px;
    text-align: center;
}

.subtitle {
    font-size: 15px;
    text-transform: uppercase;
}

.description {
    font-size: 13px;
    margin-top: 20px;
}

.price {
    font-size: 22px;
    font-weight: 600;
    color: var(--c-color1);
    margin-top: 20px;
}

.main:global(.gridItem) .price {
    font-size: 16px;
    text-align: center;
}

.main :global(.btn) {
    width: 160px;
    line-height: 2.2;
}

.main :global(.c-button) {
    border-bottom: 6px solid var(--c-color2);
}

/*.main :global(.c-button2):focus {*/
/*    background-color: transparent;*/
/*    color: var(--c-color1);*/
/*}*/

/*.main :global(.c-button2):hover {*/
/*    background-color: var(--c-color1);*/
/*    color: white;*/
/*}*/

.main:global(.gridItem) .buttonContainer {
    display: none;
}

.main:global(.gridItem):hover .buttonContainer {
    display: block;
    margin-top: 24px;
    position: absolute;
    bottom: 30px;
}

@media (min-width: 576px) {
    .main :global(.figure) {
        border-right: 1px solid var(--bs-gray-300);
    }

    .main:global(.gridItem) :global(.figure) {
        border-right: 0;
    }

    .content {
        padding-top: 30px;
        padding-left: 10px;
    }

    .main:global(.gridItem) .content {
        padding-top: 10px;
        padding-left: 20px;
    }
}

@media (min-width: 1200px) {
    .main :global(.figure) img {
        width: auto;
    }
}
