.main {
    border: 1px solid var(--bs-gray-300);
    margin-bottom: 30px;
}

.main :global(.figure) {
    margin-bottom: 0;
    height: 100%;
    padding: 20px;
}

.main :global(.figure) img {
    margin-bottom: 0;
    max-width: 100%;
    width: 160px;
}

.picture {
    height: 100%;
    display: block;
}

.content {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.info {
    display: block;
    text-decoration: none;
    color: currentColor;
}

.info:hover {
    color: currentColor;
}

.title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.subtitle {
    font-size: 15px;
    text-transform: uppercase;
}

.description {
    font-size: 13px;
    margin-top: 20px;
}

.price {
    font-size: 22px;
    font-weight: 600;
    color: var(--c-color1);
    margin-top: 20px;
}

.main :global(.btn) {
    width: 160px;
    line-height: 2.2;
}

.main :global(.c-button) {
    border-bottom: 6px solid var(--c-color2);
}

.main :global(.c-button2):focus {
    background-color: transparent;
    color: var(--c-color1);
}

.main :global(.c-button2):hover {
    background-color: var(--c-color1);
    color: white;
}

@media (min-width: 576px) {
    .main :global(.figure) {
        border-right: 1px solid var(--bs-gray-300);
    }

    .content {
        padding-top: 30px;
        padding-left: 10px;
    }
}

@media (min-width: 1200px) {
    .main :global(.figure) img {
        width: auto;
    }
}
