.section {
    text-align: center;
    margin: 30px 0;
}

.section svg {
    fill: var(--c-color1);
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}

.text {
    margin-bottom: 40px;
    font-size: 15px;
}

.section :global(.c-button) {
    text-transform: none;
    padding: 10px 60px;
}

@media (min-width: 768px) {
    .section {
        margin: 60px 0;
    }

    .section svg {
        width: 140px;
        height: 175px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 50px;
    }
}

