.section {
    background-color: var(--bs-gray-100);
    position: sticky;
    top: 0;
    z-index: 1001;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1)
}

.menuIcon {
    margin-right: 12px;
    cursor: pointer;
}

.menuIcon svg path {
    fill: var(--bs-gray-700);
}

.menuIcon:hover svg path {
    fill: var(--c-color1);
}

.link {
    color: var(--bs-gray-700);
    font-family: var(--c-font-family-second);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.link:hover {
    color: var(--c-color1);
}

.or {
    color: var(--bs-gray-600);
    font-size: 11px;
}

.hello {
    color: var(--bs-gray-600);
    font-size: 12px;
}

.hello span {
    font-weight: 500;
    color: var(--bs-gray-900);
}

@media (min-width: 768px) {
    .hello {
        display: inline;
        margin-right: 30px;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .section {
        z-index: 1002;
    }

    .menuIcon {
        display: none;
    }
}
